/* Select all body tag */
body {
  font-size: 16px;
}

/* Select all h1 class */
h1 {
  color: red;
  font-weight: 100;
}

/* Select p and li tags */
p,
li {
  color: rgb(0, 0, 0);
}

li {
  list-style-type: circle;
}

/* Select class special */
.special {
  color: orange;
  font-weight: bold;
}

/* Select li with class special*/
li.special {
  color: rgb(37, 184, 127);
  font-weight: bold;
}

/* Specificity and order matters */
.special {
  color: rgb(138, 41, 202);
  font-weight: 100;
}

/* Select all em tag inside li tag */
li em {
  color: brown;
}

/* Select immediate child of li tag */
li > em {
  color: blue;
}

/* Select p tag that comes after h1 tag */
h1 + p {
  color: orangered;
}

/* Psudeo-class selector */
a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

/* Select class special that is a child of <p> that comes after <h1> that is a child of <body> */
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

a::after {
  content: " 🧲";
}

a[target]::after {
  content: " 🔥";
}
