body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Select all h1 element */
h1 {
  color: red;
  font-weight: 100;
}

/* Select p and li */
p,
li {
  color: #24a0b6;
}

li {
  list-style-type: circle;
}

/* Select all elements with class special */
.special {
  color: orange;
}

li.special {
  color: rgb(73, 209, 73);
}

.special {
  color: magenta;
}

/* Select all em element in li element */
li em {
  color: brown;
}

/* Select immediate em element in li element */
li > em {
  color: blue;
}

/* Select p element that follows h1 element */
h1 + p {
  color: orangered;
}

a:link {
  color: pink;
}

a:visited {
  color: rgb(22, 219, 127);
}

a:hover {
  text-decoration: none;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

a::after {
  content: ' 🧲';
}

a[target]::after {
  content: ' 🔥';
}
