body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  min-width: 15rem;
  max-width: 40em;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  background-color: #3084bd;
  border-radius: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input-wrapper {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  margin-bottom: 2em;
}

.input-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.input-wrapper > div > label {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.input-wrapper > div > p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: rgb(246, 196, 138);
}

.input-wrapper > div > input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #58c89a;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #4baa82;
  transition: background-color 150ms;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}
